class_diagram.svg
class_diagram.xmi
core/LiquidCrystal.o
date.o
isn.o
isn_led_1/
lcd.png
music.o
obj.elf
obj.hex
obj.o
projector.elf
projector.hex
reveil.o
screen.o
sound.o
tmp/
*.swp*
*~

# Latex ignored
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.pdf
*.ps
*.snm
*.synctex.gz
*.toc
